/*
    Fernando Carvalho de Souza
    Fcarvalhodesouz1115@conestogac.on.ca
    #8911115
*/

.grid{
    display: grid;
    grid-gap: 1rem;
    /* grid-template-rows: 1fr 2fr 2fr 1fr; */
    /* grid-template-rows: 0.8fr 0.3fr 0.5fr 3fr 0.3fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 100px 150px 150px 100px; */
    grid-template-areas: 
    "header  header  header  header" 
    "nav     nav     nav     nav" 
    "main    main    main    aside" 
    "main    main    main    ." 
    "footer  footer  footer  footer";
}

.gridimg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "gridimg1 gridimg2 gridimg3"
    "gridimg4 gridimg5 gridimg6"
    "gridimg7 gridimg8 gridimg9";
}

.gridimg img{
    width: 80%;
    height: 80%;
    
}

#img1{
    grid-area: gridimg1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

#img2{
    grid-area: gridimg2;
    clip-path: circle(50% at 50% 50%);
}

#img3{
    grid-area: gridimg3;
    clip-path: inset(10% 20% 10% 20% round 20% 10%);
}

#img4{
    grid-area: gridimg4;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#img5{
    grid-area: gridimg5;
    clip-path: ellipse(50% 50% at 50% 50%);
}

#img6{
    grid-area: gridimg6;
    clip-path: polygon(0% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 25%);
}

#img7{
    grid-area: gridimg7;
    clip-path: polygon(50% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 25%);
}

#img8{
    grid-area: gridimg8;
    clip-path: polygon(50% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 25%);
}

#img9{
    grid-area: gridimg9;
    clip-path: polygon(0% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 25%);
}

.gridcontact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 1fr 0.2fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-areas: 
    "gridfirst  gridlast"
    "gridphone  gridemail"
    "gridgender gridprovince"
    "gridcomment gridcomment"
    "gridsubmmit gridclear";
}

#gridfirst{
    /* grid-area: gridfirst; */
    grid-area: gridfirst;
    align-self: center;
    justify-self: left;

}

#gridlast{
    /* grid-area: last; */
    grid-area: gridlast;
    align-self: center;
    justify-self: left;
}

#gridphone{
    grid-area: gridphone;
    align-self: center;
    justify-self: left;
}

#gridemail{
    grid-area: gridemail;
    align-self: center;
    justify-self: left;
}

#gridgender{
    grid-area: gridgender;
    align-self: center;
    justify-self: left;
}

#gridprovince{
    grid-area: gridprovince;
    align-self: center;
    justify-self: left;
}

#gridcomment{
    grid-area: gridcomment;
    align-self: center;
    justify-self: left;
}

#gridsubmit{
    grid-area: gridsubmit;
    align-self: center;
    justify-self: center;
}

#gridclear{
    grid-area: gridclear;
    align-self: center;
    justify-self: center;
}
input[type=text],
input[type=email],
input[type=tel]{
    border: none;
    background-color: #ecbe075d;
}

html{
    padding: 1rem 1rem;
}

body{
    font: normal normal normal 1rem/1.5 Verdana, Arial, Helvetica;
    background-color: #F4EFE6;
}

header{
    grid-area: header;
    border: 0.2rem solid #965434;
    border-radius: 0.75rem;
    text-align: center;
    background: linear-gradient(to left top, #E8B076, #5F5852);
    font-size: 2.5rem;
}

footer{
    grid-area: footer;
    border: 0.2rem solid #965434;
    border-radius: 0.75rem;
    text-align: center;
    background: linear-gradient(to left top, #E8B076, #9b8d80);
}

footer p{
    font-size: 1rem;
    color: black;  
    font-weight: bolder;
}

nav{
    grid-area: nav;
    border: 0.2rem solid #965434;
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: #122560;
}

nav a {
    font-size: 1.5rem;
    font-weight: bold;
    /* color: #5F5852; */
    color: #122560;
    text-decoration: none;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul a:hover {
    color: #965434;
}

nav>ul>li {
    display: inline-block;
    position: relative;
}

nav ul li ul {
    display: none;
    background-color: #E8B076;
}

nav ul li:hover ul {
    display: block
}

nav ul li ul {
    width: 150%;
    position: absolute;
    z-index: 999;
    text-align: left;
    background-color: #965434;
    box-shadow: 0 0 0.5rem #000;
}

nav ul li ul li a {
    color: #FEFEFE;
    display: block;
}

nav ul li ul li:hover a:hover {
    color: #ECBE07;
    background-color: #122560;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
    background-image: url(../images/download.jpeg);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

aside h2 {
    padding: 1.25rem;
    text-align: left;
    color: white;
}

aside a:hover {
    color: whitesmoke;
}

.maining{
    /* border: 2px outset red; */
    clip-path: polygon(50% 0, 98% 1%, 99% 15%, 99% 29%, 55% 37%, 38% 63%, 36% 100%, 0 100%, 0 36%, 0 0);
    shape-outside: polygon(50% 0, 98% 1%, 99% 15%, 99% 29%, 55% 37%, 38% 63%, 36% 100%, 0 100%, 0 36%, 0 0);
    float: left;
    shape-margin: 1rem;
}

/* h1, h2{
    color: bisque;
    font-variant: small-caps;
} */

h1 {
    color: #122560;
    font-variant: small-caps;
    font-size: 3.5rem;
    margin: 1.5rem;
}

h2 {
    color: #122560;
    font-variant: small-caps;
    margin: 0 0;
    font-size: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0.15rem solid #5F5852;
    overflow: hidden;
}
thead tr {
    font-size: x-large;
}

tbody tr {
    font-size: 1rem;
}

tr {
    border-bottom: 0.15rem solid #5F5852;
}

th {
    padding: 0.5rem 0.5rem;
    border-right: 0.15rem solid #5F5852;
}

td {
    padding: 1rem 1rem;
    border-right: 0.15rem solid #5F5852;
}

tbody td,
tbody th {
    position: relative;
}

caption {
    font-size: 2rem;
    font-weight: bolder;
    color: #122560;
    /* background-color: #FCFBF0; */
    padding-bottom: 1rem;
    text-align: left;
}

figcaption{
    font-weight: bold;
    font-variant: small-caps;
}

q{
    font-family: cursive;
    font-style: italic;
    font-size: 1.2rem;
}

aside ul li{
    list-style: none;
    line-height: 1.5;
}

aside ul > li > a {
    text-decoration: none;
    color: red; 
}



@media (max-width: 1200px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "aside"
        "main"
        "footer";
    }

    .gridimg{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-gap: 0.5rem;
        justify-items: center;
        align-items: center;
        grid-template-areas: 
        "gridimg1 gridimg2"
        "gridimg3 gridimg4"
        "gridimg5 gridimg6"
        "gridimg7 gridimg8"
        "gridimg9 .";
    }

    .maining{
        /* display: none; */
        /* max-width: 1fr;
        width: 100%;
        height: auto; */
        width: 60vw;
        min-width: 0px;
    }

    body{
        font: normal normal normal 0.75rem/1.5 Verdana, Arial, Helvetica;
        background-color: #F4EFE6;
    }
    
    h1 {
        color: #122560;
        font-variant: small-caps;
        font-size: 2.6rem;
        margin: 1rem;
    }
    
    h2 {
        color: #122560;
        font-variant: small-caps;
        margin: 0 0;
        font-size: 1.5rem;
    }
    
    nav a {
        font-size: 1.5rem;
        font-weight: bold;
        /* color: #5F5852; */
        color: #122560;
        text-decoration: none;
        padding: 0.2rem;
    }
    thead tr {
        font-size: 1.5rem;
    }
    
    tbody tr {
        font-size: 0.75rem;
    }
    
    caption {
        font-size: 1.5rem;
        font-weight: bolder;
        color: #122560;
        /* background-color: #FCFBF0; */
        padding-bottom: 1rem;
        text-align: left;
    }
    
    footer p{
        font-size: 0.75rem;
        color: #433f3b;  
    }
    
    q{
        font-family: cursive;
        font-style: italic;
        font-size: 0.75rem;
    }
    aside{
        grid-area: aside;
        background-image: url(../images/download_100px.jpg);
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover; */
    }

    .gridcontact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 0.3fr 0.3fr 0.3fr 1fr 0.2fr;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem; */
        grid-template-areas: 
        "gridfirst gridlast"
        "gridphone gridemail"
        "gridgender gridprovince"
        "gridcomment gridcomment"
        "gridsubmmit gridclear";
    }
}


@media (max-width: 600px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    }

    .gridimg{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-gap: 0.5rem;
        justify-items: center;
        align-items: center;
        grid-template-areas: 
        "gridimg1"
        "gridimg2"
        "gridimg3"
        "gridimg4"
        "gridimg5"
        "gridimg6"
        "gridimg7"
        "gridimg8"
        "gridimg9";
    }

    .maining{
        /* display: none; */
        /* max-width: 1fr;
        width: 100%;
        height: auto; */
        width: 60vw;
        min-width: 0px;
    }

    body{
        font: normal normal normal 0.5rem/1.5 Verdana, Arial, Helvetica;
        background-color: #F4EFE6;
    }
    
    h1 {
        color: #122560;
        font-variant: small-caps;
        font-size: 1.75rem;
        margin: 1rem;
    }
    
    h2 {
        color: #122560;
        font-variant: small-caps;
        margin: 0 0;
        font-size: 1rem;
    }
    
    nav a {
        font-size: 1rem;
        font-weight: bold;
        /* color: #5F5852; */
        color: #122560;
        text-decoration: none;
        padding: 0.2rem;
    }
    thead tr {
        font-size: 1rem;
    }
    
    tbody tr {
        font-size: 0.5rem;
    }
    
    caption {
        font-size: 1rem;
        font-weight: bolder;
        color: #122560;
        /* background-color: #FCFBF0; */
        padding-bottom: 1rem;
        text-align: left;
    }
    
    footer p{
        font-size: 0.5rem;
        color: #433f3b;  
    }
    
    q{
        font-family: cursive;
        font-style: italic;
        font-size: 0.6rem;
    }
    aside{
        grid-area: aside;
        background-image: url(../images/download_600px.jpg);
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover; */
    }

    .gridcontact{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 0.3fr 0.3fr 0.3fr 1fr 0.2fr;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem; */
        grid-template-areas: 
        "gridfirst"
        "gridlast"
        "gridphone"
        "gridemail"
        "gridgender"
        "gridprovince"
        "gridcomment"
        "gridsubmmit"
        "gridclear";
    }
}



